<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.chenmanman.ssm.mapper.LogMapper">
    <insert id="insertLog">
        insert into log(ip, controller, url, update_time, method, param)
        values(#{ip}, #{controller}, #{url}, #{updateTime}, #{method}, #{param})
    </insert>
</mapper>